<div id="slides">
	<div class="slide">
		<img src="<%= asset_path('slide.png') %>" alt="">
		<h3>Скидка 10%</h3>
	</div>
	<div class="slide">
		<img src="<%= asset_path('slide.png') %>" alt="">
		<h3>Скидка 20%</h3>
	</div>
	<div class="slide">
		<img src="<%= asset_path('slide.png') %>" alt="">
		<h3>Скидка 30%</h3>
	</div>
</div>