<%= render "slider" %>

<p>Slip.ru — сайт бесплатных объявлений. Миллионы людей в месяц посещают наш сайт. Ежедневно подаются сотни тысяч новых объявлений. Здесь легко найти нужный товар или услугу всего за несколько минут.</p>

<div class="third">
	<img src="<%= asset_path('cat-image1.png') %>" alt="">
	<h3 class="cat-title">Новинки</h3>
</div>
<div class="third">
	<img src="<%= asset_path('cat-image2.png') %>" alt="">
	<h3 class="cat-title">Популярные Товары</h3>
</div>
<div class="third omega">
	<img src="<%= asset_path('cat-image3.png') %>" alt="">
	<h3 class="cat-title">Статистика</h3>
</div>